@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Georgia');


html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
  background: linear-gradient(0deg, rgba(255,0,0,1) 23%, rgba(255,39,39,1) 32%, rgba(255,255,255,1) 36%, rgba(255,255,255,1) 66%, rgba(255,0,0,1) 71%); 
}

body {
	width: 100%;
	height: auto;
	min-height: 100%;
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: rgb(255,0,0);
  
}
.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 2vw 0 2vw;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  // flex-flow: row nowrap;
  align-items: center;
  background-color:#002D56;
  h1 {
    font-family: "Georgia", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 4rem;
    text-transform: uppercase;
    color: #dda41a;  
    display: flex;
    justify-content: center;
    // flex: 1 0 50%;
    padding: 0;
    margin: 1rem;

  }
  img {
    height: 60px;
  }
}
.gallery {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

 /* CARD FLIP STYLES */

.card-container {
  width: 200px;
  height: 260px;
  -webkit-perspective: 800px; /* ? */
  perspective: 800px;
  margin: .25rem;
  color: #dda41a;
}

label.card {
  display: block;
  position: relative; /* #card figure is set to position: absolute. DC*/
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style:         preserve-3d;
  -webkit-transition: -webkit-transform 1s; /* Not sure if this is the correct syntax. DC */
  transition: transform 1s;
  cursor: pointer;
  border: 3px solid white;
  border-radius: 5px;
}

label.card div {
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 2px;
}

.front {
  background: #002D56;
  .flipicon {
    background: #F00;  
    position: absolute;
    bottom: 0;
    right: 0;
    width: 32px;
    height: 32px;
  }
  .biglie {
    display: none;
  }
}

.back {
  background: gray;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  width:360px;
  h4 {
    color: aliceblue;
  }
}
.front img {
  width: 180px;
  height:180px;
}
.back img {
  width: 90px;
  height:90px;
}


/* ================================================================================
                                 Checkbox Styles
================================================================================ */


input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/* Or [id*='card']:checked ~ label.card  */
input[type=checkbox]:checked ~ label.card {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
