@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	box-sizing: border-box;
	line-height: 1;
}

*::before, *::after { box-sizing: border-box; }

html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: auto;
	min-height: 100%;
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: white;
	background-color: floralWhite;
	background-color: #282c34;
}

.gallery {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


/* ================================================================================
                                 CARD FLIP STYLES
================================================================================ */


.card-container {
  width: 200px;
  height: 260px;
  -webkit-perspective: 800px; /* ? */
  perspective: 800px;
  margin: 25px;
}

label.card {
  display: block;
  position: relative; /* #card figure is set to position: absolute. DC*/
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style:         preserve-3d;
  -webkit-transition: -webkit-transform 1s; /* Not sure if this is the correct syntax. DC */
  transition: transform 1s;
  cursor: pointer;
  border: 3px solid white;
  border-radius: 5px;
}

label.card div {
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 2px;
}

.front {
  background: #61DAFB;
}

.back {
  background: gray;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}


/* ================================================================================
                                 Checkbox Styles
================================================================================ */


input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/* Or [id*='card']:checked ~ label.card  */
input[type=checkbox]:checked ~ label.card {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}